{% extends "common/layout_main.html" %}
{% block content %}
<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li class="current">
                    <a href="{{ buildUrl('/member/index') }}">签到学生列表</a>
                </li>
                <li class="current">
                    <a href="{{ buildUrl('/member/index2') }}">未签到学生列表</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered m-t">
            <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>状态</th>
                <th>地点</th>
            </tr>
            </thead>
            <tbody>
            {% if list %}
                {% for item in list %}
                    {% if item.status==1 %}
            <tr>
                <td>{{item.no}}</td>
                <td>{{item.name}}</td>
                <td>签到</td>
                <td>尖草坪区</td>

            </tr>
                {% endif %}
               {% endfor %}
            {% else %}
            <tr><td colspan="5">暂无数据</td></tr>
            {% endif %}
            </tbody>
        </table>
        <!--分页代码已被封装到统一模板文件中-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<span class="pagination_count" style="line-height: 40px;">共1条记录 | 每页50条</span>-->
                <!--<ul class="pagination pagination-lg pull-right" style="margin: 0 0 ;">-->
                    <!--<li class="active"><a href="javascript:void(0);">1</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
{% endblock %}
